n8n/Grand Final Workflow.json
{
  "name": "Grand Final Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "c66306e7-e04c-44b6-9faa-8a74f4735fdd",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -848,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ JSON.parse($json.content).found }}",
              "value2": true
            }
          ]
        }
      },
      "id": "7033c6d1-d06b-4fa5-aa03-8334c3e1276a",
      "name": "If Critical Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -112,
        144
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "alerts",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "latitude",
              "condition": "eq",
              "keyValue": "={{ $json.output.latitude }}"
            },
            {
              "keyName": "longitude",
              "condition": "eq",
              "keyValue": "={{ $json.output.longitude }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "Pending"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "Active"
            }
          ]
        }
      },
      "id": "176ef78c-5a2d-408d-8e97-89f85c6468c8",
      "name": "Check for Duplicates",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        144
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "zp1DdIlkDwb2IzUn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.id ? true : false }}"
            }
          ]
        }
      },
      "id": "3fba0ada-674d-4b7c-b739-ae72581152b2",
      "name": "If New Alert",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        256,
        144
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an elite Disaster Response AI for the National Disaster Management Authority.\nYour job is to analyze raw text/HTML from weather reports and extract actionable intelligence.\n\nRULES:\n1. Scan the input for \"Red Alerts\", \"Cyclones\", \"Flash Floods\", or \"Severe Warnings\".\n2. If a CRITICAL or MAJOR threat is found, extract the details into the JSON format below.\n3. You MUST estimate the 'latitude' and 'longitude' of the affected area based on the city/region mentioned.\n4. You MUST generate a specific 'radius_km' (e.g., 50 for cities, 200 for cyclones) based on the disaster scale.\n5. Generate 3-4 specific 'safety_steps' based on the disaster type.\n\nJSON OUTPUT FORMAT (If Disaster Found):\n{\n  \"found\": true,\n  \"title\": \"Short, Urgent Title (e.g. Cyclone Dana Landfall)\",\n  \"severity\": \"Critical\", \n  \"summary\": \"A concise, 2-sentence summary for government officials.\",\n  \"latitude\": 20.94,\n  \"longitude\": 86.45,\n  \"radius_km\": 50,\n  \"safety_steps\": [\"Step 1\", \"Step 2\", \"Step 3\"]\n}\n\nJSON OUTPUT FORMAT (If NO Significant Threat):\n{\n  \"found\": false\n}\n\nConstraint: Return ONLY raw JSON. Do not use Markdown formatting (no json ... ).\n\nhere is the input data in Markdown format:{{ $json.data }} \n\nAlways remember that if the location is not given in the fetched data Use the location of capital of the targeted state whose warning is fetched and keep it in the lat and longitute data.\n\nStritcly guided don't hallucinate.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -480,
        144
      ],
      "id": "6519dd0c-cec7-4489-9a8d-29ac4aafa8be",
      "name": "Basic LLM Chain1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -624,
        336
      ],
      "id": "9720cab4-a1f6-415e-b300-e1cd65b0d09e",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "hgVLnfYVvvUJqXtj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"found\": true,\n  \"title\": \"Short, Urgent Title (e.g. Cyclone Dana Landfall)\",\n  \"severity\": \"Critical\", \n  \"summary\": \"A concise, 2-sentence summary for government officials.\",\n  \"latitude\": 20.94,\n  \"longitude\": 86.45,\n  \"radius_km\": 50,\n  \"safety_steps\": [\"Step 1\", \"Step 2\", \"Step 3\"]\n\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -416,
        336
      ],
      "id": "605fd0fb-a602-4a0e-8849-fb05d873bd94",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -416,
        496
      ],
      "id": "74406fc0-c838-4d7a-83f0-d03ccc7de5fe",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "hgVLnfYVvvUJqXtj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://mausam.imd.gov.in/",
        "options": {}
      },
      "id": "fe465f3d-f0c8-44df-b719-26a0815baf1d",
      "name": "Scrape Weather Site1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -640,
        144
      ]
    },
    {
      "parameters": {
        "tableId": "alerts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $('Basic LLM Chain1').item.json.output.title }}"
            },
            {
              "fieldId": "severity",
              "fieldValue": "={{ $('Basic LLM Chain1').item.json.output.severity }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $('Basic LLM Chain1').item.json.output.summary }}"
            },
            {
              "fieldId": "latitude",
              "fieldValue": "={{ $('Basic LLM Chain1').item.json.output.latitude }}"
            },
            {
              "fieldId": "longitude",
              "fieldValue": "={{ $('Basic LLM Chain1').item.json.output.longitude }}"
            },
            {
              "fieldId": "radius_km",
              "fieldValue": "={{ $('Basic LLM Chain1').item.json.output.radius_km }}"
            },
            {
              "fieldId": "safety_steps",
              "fieldValue": "={{ $('Basic LLM Chain1').item.json.output.safety_steps }}"
            }
          ]
        }
      },
      "id": "63a2e156-a005-46ee-a80d-8bac086fc90e",
      "name": "Insert to Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        128
      ],
      "credentials": {
        "supabaseApi": {
          "id": "zp1DdIlkDwb2IzUn",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Scrape Weather Site1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Critical Found": {
      "main": [
        [
          {
            "node": "Check for Duplicates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check for Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Duplicates": {
      "main": [
        [
          {
            "node": "If New Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If New Alert": {
      "main": [
        [
          {
            "node": "Insert to Supabase1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Weather Site1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "If Critical Found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Critical Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "402d1030-f966-44d7-ad37-d3bc340339fb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8c121e14535f75c18463ac5fa1d62a4cdeafc0069ee8407c08b6881a7c5cdbf"
  },
  "id": "oP5BIHSI4G1v0olb",
  "tags": []
}